/*John Sutherland 11/08/2022 Web 114 Final Project- style.css */
/*CSS3 style - herein identified*/ 
* { box-sizing: border-box; }  
 /* body- composes the background of the body of the web page*/   
    body { background-color: #FFFFFF;
            background-image: linear-gradient(to bottom, #FFFFFF, #999999) ;
            background-repeat: no-repeat;
            color: #666666; 
            font-family: Arial, Helvetica, sans-serif; }
/* header- composes the headline to catch attention*/
     header {  background-color: #627CAF;
               background-image: url(bullseye.png);
               background-position: right;
               background-repeat: no-repeat;
              
               height: 16em;
               text-align: left;
               padding-top: 1.6em; }  
      #topnote { margin-top: .5em; 
                 font-size: x-large;
                 color: #003399 ;
                 margin-bottom: 0em; 
                 margin-left: 10% }
            
      hr.divider { color: #90C7E3;
                   margin-top:-1.5em; }         
/* h1,h2,h3- showcases the headlines to draw your attention*/  
      p  { color: #000000; }             
      h1 { color: #FFFFFF; margin-bottom: 0; 
            font-family: Georgia, "Times New Roman", serif; 
            margin-top: 0; } 

      main { padding: .65em 1.25em 1.25em 1.25em;
             display: block; }
      h2 { color: #1976D2; 
         font-family: Georgia, "Times New Roman", serif; 
          text-shadow: .65em .65em .65em #CCCCCC; }
      h3 { color: #000033;
         font-family: Georgia, "Times New Roman", serif; }
/*img- managing images*/
      img { max-width: 100%;
          height:auto;
           }
 /*Special ul marker*/       
     section ul { list-style-image: url(marker.gif); }

     table { border: .125em solid #3399CC; border-collapse: collapse; }
    td, th { padding: 1.25em; border: .125em solid #3399CC; 
             font-size: .5em;}
   
    tr:nth-of-type(odd) {background-color: #F5FAFC; }

   
      
/*footer dimentions*/
      footer { color: #666666; 
             font-size: 75%;
             font-style: italic;
             text-align: center;
             font-family: Georgia, "Times New Roman", serif; 
             padding: 2em; } 
      
 /*Class selector for eye-catching results*/            
      .name { color: #1976D2;      
              font-weight: bold; }
/* Major pictures established as an id*/
      #hero {     height: 12.5em ; 
                  /*background-image: url(images.jpeg);*/
                  background-repeat: no-repeat;
                  margin-top: .625em;
                  margin-left: 10% ;
                  background-position: center;  } 
   
                
      #hero3 {    height: 18.75em;
                  background-image: url(features-of-javascript.png);
                  background-repeat: no-repeat;
                  background-size: 100% 100%;}
       #hero4 {   height: 18.75em ; 
                  background-image: url(alfred-neuman.png);
                  background-repeat: no-repeat;
                  margin-top: .625em;
                  margin-left: 10% ;
                  background-position: center; } 
     

     #contact { font-size: 90%; } 
/* Used to construct format for main structure of web page*/     
     #wrapper { 
                background-color: #FFFFFF;
               }    
                                    

@media (min-width: 0px)
  {
    #wrapper {font-size: 1rem; 
         filter: contrast(1.5);
         background-color: #7FB3D5;
        }
                
  }

@media (min-width: 600px)
   
      {
	 #wrapper {font-size: 1rem + 1vw; 
	  	     filter: contrast (1.20); 
	  	     background-color: #A9CCE3;
                     }
      }               
             
   
                            
    


@media (min-width: 1024px)
{
          
   

         .content main { display: grid;
                          grid-template-rows: auto ; 
                          grid-template-columns: 1fr 1fr; } 

        
          #wrapper { margin: auto; 
                     width: 80%; 
                     border: .0625em solid #002171;
                     box-shadow: 1.56em 1.56em 1.56em #676767; 

                     font-size: 1.75rem;
                     background-color: #afd3eb;
                  
                    
                    display: grid;
                    grid-template-columns: auto;
                    grid-template-rows: auto ; 
                   }
          header   { grid-row: 1 / 2; grid-column: 1 / 3; }
        
          
          
       
          div      { grid-row: 3 / 4; grid-column: 1 / 3; }
          main     { grid-row: 4 / 5; grid-column: 2/3 ; }
          
      

          footer   { grid-row: 6  / 7; grid-column: 1 / 3; }    
}       



button {
      background-color: hsl(180, 50%, 50%);
      border: 0;
      color: white;
      font-size: 1rem;
      padding: .3em 1em;
      transition: border-radus 0.5s ease,
                  background-color 1s linear;
    }
    button:hover {
      background-color: hsl(0, 50%, 50%);
      border-radius: 1em;
    }
  
    .flex {
      margin: 0 -1em;
    }
    .flex > * {
      margin: 0 1em;
    }


    .dropdown {
      display: inline-block;
      width: auto;
      position: relative;
  }
  
  .dropdown__toggle {
    display: inline-block;
    position: relative;
    padding: 0.5em 2em 0.5em 1em;
    border: 1px solid #ccc;
    font-size: 1rem;
    background-color: #eee;
    cursor: pointer;
    width: auto;           /* keeps button just wide enough for text */
    min-width: 160px;      /* prevents it from being too small */
    box-sizing: border-box;
}

  
  .dropdown__toggle::after {
      content: "";
      position: absolute;
      right: 1em;
      top: 1em;
      border: 0.3em solid;
      border-color: black transparent transparent;
  }
  
  .dropdown__drawer {
  display: none;
  position: absolute;
  left: 0;
  top: 2.4em;
  width: auto;              /* auto width, fits content */
  min-width: 160px;         /* smallest allowed width */
  max-width: 220px;         /* largest allowed width */
  background-color: #eee;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  box-sizing: border-box;
  z-index: 999;
}

  
  .dropdown.is-open .dropdown__toggle::after {
      top: 0.7em;
      border-color: transparent transparent black;
  }
  
  /*.dropdown.is-open .dropdown__drawer {
      display: block;
  } */

  .dropdown__drawer {
    display: none;
    position: absolute;
    left: 0;
    top: 2.1em;
    min-width: 100%;
    background-color: #eee;
}

  
  .menu {
      padding-left: 0;
      margin: 0;
      list-style-type: none;
      border: 1px solid #999;
  }
  
  .menu > li + li {
      border-top: 1px solid #999;
  }
  
 .menu > li > a {
    display: block;
    padding: 0.5em 1em;
    background-color: #eee;
    color: #369;
    text-decoration: none;
    white-space: nowrap;     /* keeps text on one line */
    width: 100%;             /* fills its own menu width, not the page */
    box-sizing: border-box;
}
 
  
  .menu > li> a:hover {
      background-color: #fff;
  }
  
  /* ▼▲ Arrow rotation effect */
.dropdown__toggle::after {
  content: "";
  position: absolute;
  right: 1em;
  top: 1em;
  border: 0.3em solid;
  border-color: black transparent transparent;
  transition: transform 0.3s ease;
}

.dropdown.is-open .dropdown__toggle::after {
  transform: rotate(180deg);
  top: 0.8em;
  border-color: transparent transparent black;
}

@keyframes glowPulse {
  0% { box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.4); }
  70% { box-shadow: 0 0 0 10px rgba(255, 0, 0, 0); }
  100% { box-shadow: 0 0 0 0 rgba(255, 0, 0, 0); }
}

h3 span, .dropdown__toggle, .exam1 {
  cursor: pointer;
  display: inline-block;
  animation: glowPulse 4s infinite;
  border-radius: 0.4em;
}

.note {
  font-size: 0.9rem;
  color: #990000;
  font-style: italic;
  margin-bottom: 0.8em;
}

.sbutton {
  text-align: center;
  margin: 2em 0;
}

.sbutton h3,
.sbutton p,
.sbutton .dropdown {
  display: block;
  margin: 0.5em auto;
}

.exam1 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-weight: bold;
  cursor: pointer;
  display: block;
  color: #000;
}

#javascript h3,
#games h3 {
  cursor: pointer;
  display: inline-block;
  border-radius: 0.4em;
  animation: glowPulse 4s infinite;
}

/* Ensure interactive elements allow mouse hover and tooltips */
.sbutton,
.dropdown {
  pointer-events: auto;
}

/* Enable Alfred animation */
#neuman {
  position: relative !important;
  display: inline-block !important;
  transition: transform 0.3s ease-in-out;
}
#neuman {
  position: relative !important;
  z-index: 9999 !important;
  pointer-events: auto !important;
  border: 5px solid green !important;
}
 #einstein {
  position: relative;
  display: inline-block;
  transition: transform 0.3s ease-in-out;
  max-width: 100%;
  height: auto;
}
.dropdown {
  display: inline-block;
  position: relative;
  width: auto;
}
.dropdown__toggle {
  padding: 0.5em 1.5em 0.5em 1em;
  min-width: 160px;
  max-width: 220px;
  width: fit-content;
  box-sizing: border-box;
}
.dropdown__drawer {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  min-width: 160px;
  max-width: 220px;
  width: fit-content;
  background-color: #eee;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
  z-index: 1000;
  box-sizing: border-box;
}
.menu > li > a {
  display: block;
  width: 100%;
  white-space: nowrap;
  padding: 0.5em 1em;
  box-sizing: border-box;
}
.dropdown {
  position: relative !important;
}

.dropdown__drawer,
.dropdown__toggle {
  min-width: 160px;
  max-width: 220px;
  width: fit-content;
}
.sbutton {
  text-align: center;
}

.sbutton .dropdown {
  display: inline-block;
  position: relative;
}
